{% extends "../views.index.twig" %}

{% block body %}
<div class="index-hero">
    <img src="static-images/images.icon.png">
</div>

<div class="index-information">
    <div class="information-box-text">
        <h2>History of origins</h2>
        <p>The "slicer" is a kitchen tool developed by Yanic Vollmer to make slicing easier. He started this development even before the PFH project was launched, so we were able to start planning directly. To have a first idea of the model, Leon Spreckels has created a 3D model, which can now be used for the prototype. This was followed by the website and the product video, which was produced within 4 days. This means that the project can now be presented to investors and possibly be launched.</p>
    </div>
    <div class="information-box-blender">
        <img src="static-images/images-home/home.slicer.png">
    </div>
</div>

<div class="index-footer">
    <ul class="footer-social">
        <h2>Social media</h2>
        <li>
            <a href="https://www.youtube.com" target="__blank">YouTube</a>
        </li>
        <li>
            <a href="https://www.twitch.tv" target="__blank">Twitch</a>
        </li>
        <li>
            <a href="https://www.instagram.com" target="__blank">Instagram</a>
        </li>
        <li>
            <a href="https://www.twitter.com" target="__blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com" target="__blank">Facebook</a>
        </li>
    </ul>
    <ul class="footer-legal">
        <h2>Legal</h2>
        <li>
            <a href="/imprint" target="__blank">Imprint</a>
        </li>
        <li>
            <a href="/privacy" target="__blank">Privacy policy</a>
        </li>
        <li>
            <a href="/terms" target="__blank">Terms and conditions</a>
        </li>
    </ul>
    <ul class="footer-faq">
        <h2>F.A.Q</h2>
        <li>
            <a href="/product" target="__blank">Product</a>
        </li>
        <li>
            <a href="/support" target="__blank">Support</a>
        </li>
        <li>
            <a href="/company" target="__blank">Company</a>
        </li>
    </ul>
    <ul class"footer-information">
        <h2>Information</h2>
        <li>
            <p>This website is under copyright of Leon Spreckels since 2022.</p>
        </li>
    </ul>
</div>
{% endblock %}