{% extends "../views.index.twig" %}

{% block body %}
<div class="index-hero">
    <img src="static-images/images.icon.png">
</div>

<div class="index-information">
    <div class="information-box-text">
        <h2>History of origins</h2>
        <p>The "slicer" is a kitchen tool developed by Yanic Vollmer to make slicing easier. He started this development even before the PFH project was launched, so we were able to start planning directly. To have a first idea of the model, Leon Spreckels has created a 3D model, which can now be used for the prototype. This was followed by the website and the product video, which was produced within 4 days. This means that the project can now be presented to investors and possibly be launched.</p>
    </div>
    <div class="information-box-blender">
        <img src="static-images/images-home/home.slicer.png">
    </div>
</div>

<div class="index-footer"></div>
{% endblock %}