{% extends "../views.index.twig" %}

{% block body %}
<div class="index-hero">
    <img src="static-images/images.icon.png">
</div>

<div class="index-information">
    <h2>History of origins</h2>
    <p>The "slicer" is a kitchen tool developed by Yanic Vollmer to make slicing easier. He started this development even before the PFH project was launched, so we were able to start planning directly.</p>
</div>

<div class="">

</div>
{% endblock %}